nodes:
{% if master_on_worker %}
{% for host in groups['k8s'] %}
  - address: "{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}" # 离线环境节点 IP
    hostname_override: "{{ hostvars[host]['ansible_hostname'] }}"
    user: "{{ rke_user }}"
    role: [ "controlplane", "etcd", "worker" ]
    ssh_key_path: /root/.ssh/id_rsa
{% endfor %}
{% else %}
{% for host in groups['k8s-master'] %}
  - address: "{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}" # 离线环境节点 IP
    hostname_override: "{{ hostvars[host]['ansible_hostname'] }}"
    user: "{{ rke_user }}"
    role: ["controlplane", "etcd"]
    ssh_key_path: /root/.ssh/id_rsa
{% endfor %}
{% for host in groups['k8s-worker'] %}
  - address: "{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}" # 离线环境节点 IP
    hostname_override: "{{ hostvars[host]['ansible_hostname'] }}"
    user: "{{ rke_user }}"
    role: ["worker"]
    ssh_key_path: /root/.ssh/id_rsa
{% endfor %}
{% endif %}

private_registries:
  - url: "{{ deploy_node_ip }}:5000"
    is_default: true
upgrade_strategy:
  max_unavailable_worker: 50%
  max_unavailable_controlplane: 1
  drain: false
ignore_docker_version: true
kubernetes_version: "v1.21.14-rancher1-1"
network:
   plugin: calico
services:
    etcd:
      snapshot: true
      creation: 6h
      retention: 24h
    kube-api:
      extra_args:
        # Enable audit log to stdout
        enable-admission-plugins: "NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota,NodeRestriction,Priority,TaintNodesByCondition,PersistentVolumeClaimResize,PodNodeSelector"
#        enable-admission-plugins: "NamespaceLifecycle,PodNodeSelector"
    kubelet:
      extra_args:
        cpu-manager-policy: "static"
        reserved-cpus: 0-3
    kubeproxy:
      extra_args:
        proxy-mode: "{{ kube_proxy_mode }}"

authentication:
  strategy: x509
  sans:
    - "{{ keepalived_vip }}"
